@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
   
    <h2 class="text-danger">Take your teddy and go home</h2>

</header>

<a asp-page="/index"><img src="~/images/Sad.png" /></a>